/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    
  }
  .wrapper{
    width: 100vw;
    height: 2000px;
    display:flex;
    justify-content: space-between;
    align-items: center;

  }
  
  