/* Стили для красного круга */
.circle{
    width: 100px;
    height: 100px;
    background: red;
    /* border: 5px dotted;
    border-color: blue; */
    border-radius: 50%;
} 
/* Стили для курсора и изменения кругов */
.circle:hover{
    width: 100px;
    height: 100px;
    background: rgb(46, 38, 149);
    /* border: 5px dotted;
    border-color: blue; */
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.5);
    
}
/* Стили для черного круга */
/* .egor1{
    width: 150px;
    height: 150px;
    background: black;
    border: 5px dotted;
    border-color: blue;
    border-radius: 50%;
} */
/* Стили для желтого круга */
.yellow{
    background-color: yellow;
}
/* Стили для изменения размера элементов */
.makebigger{
    width: 200px;
    height: 200px;
}
/* Изменение цвета фона */
body {
    background-color: #632d2d62;
}

#username, input{
    text-decoration: none;
    color: black;
    display: block;  
}

.flex{
    display: flex;
}



a{
    color: blue;
}

a.green{
    color: green;
}

header{
    background-image: url(/IMG/Хумус.jpeg);
    background-size: cover;
    background-position: center;
    height: 200px;

}
   
