table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(125, 126, 124);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(239, 143, 143);
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 200px;
}