.cards__container-item{
    width: 263px;
    height: 393px;
    background: red;
}
.cards__container-item{
    width: 263px;
    height: 393px;
    background: red;
}
.cards__container-item{
    width: 263px;
    height: 393px;
    background: red;
}
.cards__container-item_blue{
    background: blue;
}